[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/cheaterak/Desktop/steam.desktop]
row=5
col=0

[64bc6f523176aa52]
row=0
col=0

[1008168E443D948F]
row=1
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/cheaterak]
row=4
col=0

